<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/birthday.css' %}">
        <title>Birthday Tracker</title>
</head>

<body>
<p>hi</p>
<div class="select">
    <span class="arr"></span>
    <select>
        				<input type="text" placeholder="username" name="name"><br>

      <option>day1</option>
      <option>day2</option>
      <option>day3</option>
    </select>
    <select>
      <option>month1</option>
      <option>month2</option>
      <option>month3</option>
    </select>
    <select>
      <option>year1</option>
      <option>year2</option>
      <option>year3</option>
    </select>
  </div>

</body>


</html>