<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/birthday.css' %}">
    <title>Birthday Tracker</title>
</head>
<body>
<div class="body"></div>
        <div class="explain">
            <p>لکلکی اتفاقات روز تولدتون رو به شما میگه</p>
            <p>تاریخ تولدتونو در فرم مقابل کامل کنید</p>

        </div>
        <div class="header">
			<div>اتفاقات    <span>زادروز   </span></div>
		</div>
		<div class="login">
			<form action="success/" method="post">
				{% csrf_token %}
				<input type="text" placeholder="روز" name="day"><br>
                <select name="month">
                      <option value="">ماه</option>
                      <option value="1">فروردین</option>
                      <option value="2">اردیبهشت</option>
                      <option value="3">خرداد</option>
                      <option value="4">تیر</option>
                      <option value="5">مرداد</option>
                      <option value="6">شهریور</option>
                      <option value="7">مهر</option>
                      <option value="8">آبان</option>
                      <option value="9">آذر</option>
                      <option value="10">دی</option>
                      <option value="11">بهمن</option>
                      <option value="12">اسفند</option>
                </select>
                <input type="text" placeholder="سال" name="year"><br>
                <input type="submit" value="مشاهده" id="button"><br>

			</form>
		</div>
</body>
</html>