<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
   <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/event.css' %}">
    <title>رویدادها</title>
</head>
<body>
<div class="body"></div>
<div class="explain">
    <div>
        <p class="rtl">سنبل : {{monthsymbol}} </p>
        <p class="rtl">سیاره: {{monthplanet}}</p>
        <p class="rtl">رنگ : {{monthcolor}}</p>
        <p class="rtl">سنگ : {{monthrock}}</p>
        <p class="rtl">روز شانس : {{monthchance}} </p>

    </div>
</div>
<div class="login">

{% for eachwhole in whole %}
    <div>
        <h1 class="rtl">رویدادها</h1>
        <p class="rtl">{{ eachwhole.event }}</p>
        <h1 class="rtl">زادروزها</h1>
        <p class="rtl">{{ eachwhole.birth }}</p>
        <h1 class="rtl">درگذشت ها</h1>
        <p class="rtl">{{ eachwhole.death }}</p>

    </div>
    </div>
{% endfor %}

</body>
</html>