
@font-face {
font-family: "yekan";
src: url(fonts/Yekan.eot);
src: url(fonts/Yekan.eot?#iefix) format("embedded-opentype"), url(fonts/Yekan.woff)
format("woff"), url(fonts/Yekan.ttf) format("truetype"), url(fonts/Yekan.svg#BYekan) format("svg");
font-weight: normal;
font-style: normal
}


body{
	margin: 0;
	padding: 0;
	background: #fff;
	color: #fff;
	font-family: yekan;
	font-size: 12px;
}

.body{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: auto;
	height:100%;
	background-image:url("1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}
.header{
	position: absolute;
	top: calc(50% - 35px);
	left: calc(50% - 255px);
	z-index: 2;
	margin-left:550px;
}

.header div{
	color: #fff;
	font-family: yekan;
	font-size: 40px;
	font-weight: bold;
    position: relative;
    right: 460px;
}

.header div span{
	color: #FFFF00 !important;
}

.login{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(25% - 50px);
	height: 150px;
	width: 150px;
	padding: 10px;
	z-index: 2;
}



.login div input{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(254,253,0,1);
	border-radius: 2px;
	color: #FFFF00;
	font-family: yekan;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
	margin-left: 500px;


}

.login select{
	width: 261px;
	height: 37px;
	background: transparent;
	border: 1px solid rgba(254,253,0,1);
	border-radius: 2px;
	color: #FFFF00;
	font-family: yekan;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
	margin-left: 500px;
}
.login select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.login select option[value="1"] {
  /* value not val */
  background: rgba(159, 79, 109, 1);
}

.login select option[value="2"] {
  /* value not val */
  background: rgba(56, 133, 100, 1);
}

.login select option[value="3"] {
  /* value not val */
  background: rgba(202, 138, 47, 1);
}

.login select option[value="4"] {
  /* value not val */
  background: rgba(111, 99, 106, 1);
}

#button{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #6a5acd;
	font-family: yekan;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

#button:hover{
	opacity: 0.8;
}

#button:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

#button:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

#button:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}