
@font-face {
font-family: "yekan";
src: url(fonts/Yekan.eot);
src: url(fonts/Yekan.eot?#iefix) format("embedded-opentype"), url(fonts/Yekan.woff)
format("woff"), url(fonts/Yekan.ttf) format("truetype"), url(fonts/Yekan.svg#BYekan) format("svg");
font-weight: normal;
font-style: normal
}

@font-face {
    font-family:'Vazir';
    src:url('fonts/Vazir.eot');
    src:url('fonts/Vazir.eot#iefix') format('embedded-opentype'),
        url('fonts/Vazir.woff') format('woff'),
        url('fonts/Vazir.woff2') format('woff2'),
        url('fonts/Vazir.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}


body{
	margin: 0;
	padding: 0;
	background: #fff;
	color: #fff;
	font-family: yekan;
	font-size: 12px;
}

.body{
	position: absolute;
	top: 190px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: auto;
	height:100%;
	background-image:url("6.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}
.login{
	position: absolute;
	top: calc(50% - 250px);
	right: calc(25% - 100px);
	height: 1500px;
	width: 600px;
	padding: 10px;
	z-index: 2;

}
.login h1{
	color: #ee2c68;
	font-family: Vazir;
	font-size: 29px;
	font-weight: bold;
}
.login p{
	color: #2a848e;
	font-family: Vazir;
	font-size: 24px;
	font-weight: 10000;
}

.login p.rtl{
    direction: rtl;
}


.login h1.rtl{
    direction: rtl;
}

.explain{
    position: absolute;
	top: calc(50% - 200px);
	left: calc(50% - 800px);
	z-index: 2;
	margin-left:550px;
}

.explain p{
    color:#ee2c68;
	font-family: Vazir;
	font-size: 20px;
	font-weight: bold;
    position: relative;
    right: 460px;
}

.explain p.rtl{
    direction: rtl;
}
